//reset
@use './partials/variables' as *;
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
.ms-container-md{
    width: 1200px;
    margin: 0 auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
button{
    background-color: $blue;
    border: none;
    color: $white;
    padding: 8px 4px;
    transition: 200ms ease-in-out;
    &:hover{
        background-color: $black;
    }
}
section{
    margin-top: 5rem;
}
