//aggiungo palet 

$white: #FFFFFF;
$tran-blue: #f2f7ff;
$blue:#377dff;
$black: #1e1e1e;
$light-gray: #00000026;
$green: #6cdac1;
$red: #ff796d;
$dark-gray: #495057;
$full-black: #000000;
$grey-black: #000000E6;
$white-blue: #eff1fe;
$black-2: #00000008;
$black-3: #0000000d;
$black-4: #00000014;